body{
    /* background-color: beige;
    margin: 0;
    padding: 0;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 5000px;
    background-size: fill;
     */

    background-image: url(img.jpg) top right;
}
h1{
    color: #fff;
    text-shadow: 0 0 20px #eee;
    font-size: 110px;
    
}